<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>229294145303-dv2acbd8jf0317fq9r3nccppnvpiqcg5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.229294145303-dv2acbd8jf0317fq9r3nccppnvpiqcg5</string>
	<key>API_KEY</key>
	<string>AIzaSyCHUPEiP__LHUBVk_vVkBKYVOW-9WTbiWs</string>
	<key>GCM_SENDER_ID</key>
	<string>229294145303</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TakeMeHome</string>
	<key>PROJECT_ID</key>
	<string>takemehome-2a41b</string>
	<key>STORAGE_BUCKET</key>
	<string>takemehome-2a41b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:229294145303:ios:6214135266099d95b44152</string>
	<key>DATABASE_URL</key>
	<string>https://takemehome-2a41b.firebaseio.com</string>
</dict>
</plist>